<?xml version='1.0' encoding='utf-8'?>
<widget id="com.twojanazwa.antena" version="1.4.5" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <name>Antena Tool</name>
    <description>Profesjonalny niezbędnik instalatora anten. Cennik i Raporty.</description>
    <author email="lukaszkozlik4@gmail.com">Łukasz Koźlik</author>

    <content src="index.html" />
    <icon src="www/icon-512.png" />
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-file" />

    <preference name="Orientation" value="portrait" /> 
    <preference name="Fullscreen" value="false" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="KeepRunning" value="true" />

    <platform name="android">
        <allow-intent href="market:*" />
        <edit-config target="defaults/targets/android" name="queries" mode="merge">
            <intent>
                <action name="android.intent.action.SEND" />
                <data mimeType="text/plain" />
            </intent>
        </edit-config>
    </platform>

</widget>